<!-- Menú Lateral -->
<div>
    <p>
        <button mat-button>Inicio de Carpeta</button>
    </p>

    <p>
        <button mat-button [matMenuTriggerFor]="actosInvestigacion">Actos de Investigación</button>
        <mat-menu #actosInvestigacion="matMenu" xPosition="after">
            <button mat-menu-item>Internos</button>
            <button mat-menu-item>Externos</button>
        </mat-menu>
    </p>

    <p>
        <button mat-button>Investigación de Control<br> Judicial</button>
    </p>

    <p>
        <button mat-button [matMenuTriggerFor]="audienciaInicial">Audiciencia Inicial</button>
        <mat-menu #audienciaInicial="matMenu" xPosition="after">
            <button mat-menu-item>Con Detenido</button>
            <button mat-menu-item>Sin Detenido</button>
        </mat-menu>
    </p>

    <p>
        <button mat-button>Mandamiento Judicial</button>
    </p>

    <p>
        <button mat-button>Suspensión Condicional</button>
    </p>

    <p>
        <button mat-button>Acuerdo Reparatorio</button>
    </p>

    <p>
        <button mat-button>Etapa Intermedia</button>
    </p>

    <p>
        <button mat-button [matMenuTriggerFor]="sentencia">Sentencia</button>
        <mat-menu #sentencia="matMenu" xPosition="after">
            <button mat-menu-item>Procedimiento Abreviado</button>
            <button mat-menu-item>Procedimiento Ordinario</button>
        </mat-menu>
    </p>
</div>