<!-- Prime Faces CRUD -->
<p-toast></p-toast>
<!-- MAterial -->
<div class="col-16" style="margin-top: 1rem;">

    <mat-toolbar color="accent" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
        <div align="center" style="text-align: right;">
            <h1>Usuarios</h1>
        </div>
        &nbsp;
        <mat-form-field style="margin-left: auto;">
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar Usuario">
        </mat-form-field>
    </mat-toolbar>

    <!-- Formulario Actualizacion -->
    <div style="margin-top: .5rem;" align=" center">

        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">

            <div class="row" style="background-color: white; margin-left: .1rem; margin-right: .1rem;">
                <div class="col-3" style="margin-top: 1rem; margin-bottom: 1rem">
                    <label style="margin-right: 1rem" for="Nombre">Nombre: </label>
                    <input id="nombre" type="text" formControlName="Nombre" required>
                </div>

                <div class="col-3" style="margin-top: 1rem; margin-bottom: 1rem">
                    <label style="margin-right: 1rem" for="Correo">Correo: </label>
                    <input id="correo" type="email" formControlName="Correo" required>
                </div>

                <div class="col-3" style="margin-top: 1rem; margin-bottom: 1rem">
                    <label style="margin-right: 1rem" for="Unidad">Unidad: </label>
                    <input id="unidad" type="text" formControlName="Unidad" required>
                </div>
                <div class="col-3" style="margin-top: 1rem; margin-bottom: 1rem">
                    <label style="margin-right: 1rem" for="Sede">Sede: </label>
                    <input id="sede" type="text" formControlName="Sede" required>
                </div>

                <div class="col-3" style="margin-top: 1rem; margin-bottom: 1rem">
                    <label style="margin-right: 1rem" for="Subsede">Subsede: </label>
                    <input id="subsede" type="text" formControlName="Subsede" required>
                </div>
                <div class="col-3" style="margin-top: 1rem; margin-bottom: 1rem">
                    <label style="margin-right: 1rem" for="Cargo">Cargo: </label>
                    <input id="cargo" type="text" formControlName="Cargo">
                </div>
                <div class="col-3" style="margin-top: 1rem; margin-bottom: 1rem">
                    <label style="margin-right: 3rem" for="Nombre">Rol: </label>
                    <input id="rol" type="text" formControlName="Rol" required>
                </div>
                <div class="col-3" style="margin-top: 1rem; margin-bottom: 1rem">
                    <button mat-raised-button color="accent" style="margin-right: 1rem; margin-left: 4rem;" type="submit">Actualizar</button>
                    <button type="reset" button mat-raised-button color="warn" matTooltip="Reset" (click)="resetForm()">Limpiar</button>
                </div>
            </div>
        </form>
    </div>

    <!-- ---------------------- -->

    <!-----  Tabla Usuarios ------>

    <table mat-table [dataSource]="dataSource" matSort style="margin-top: .5rem;">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Correo Column -->
        <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Unidad Column -->
        <ng-container matColumnDef="officeLocation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </th>
            <td mat-cell *matCellDef="let element"> {{element.u_admin}} </td>
        </ng-container>

        <!-- Rol Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <!-- Sede Column -->
        <ng-container matColumnDef="sede">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
            <td mat-cell *matCellDef="let element"> {{element.sede}} </td>
        </ng-container>

        <!-- Subsede Column -->
        <ng-container matColumnDef="subsede">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subsede </th>
            <td mat-cell *matCellDef="let element"> {{element.subsede}} </td>
        </ng-container>

        <!-- Cargo Column -->
        <ng-container matColumnDef="cargo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </th>
            <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <mat-cell *matCellDef="let usuario">
                <button style="margin-right: 1rem;" mat-icon-button aria-label="Example icon button with a vertical three dot icon" type="button" mat-raised-button color="accent" matTooltip="Edit" (click)="loadUserEdit(usuario.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button style="margin-right: 1rem;" mat-icon-button aria-label="Example icon button with a delete icon" type="button" mat-raised-button color="accent" matTooltip="Delete" (click)="deleteUser(usuario.id)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>

    <!-- ---------------------- -->

</div>