/* Reset de los margenes de html */


/* Grid Para Login */

body {
    min-height: 100%;
}

.grid-container-login>* {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.grid-container-login {
    display: grid;
    gap: 10px;
    grid-template: "header" 10% "section" auto "footer" 10%;
}

.grid-container-login-header {
    grid-area: header;
}

.grid-container-login-section {
    grid-area: section;
}

.grid-container-login-footer {
    grid-area: footer;
}

@media (min-width: 600px) {
    .grid-container-login {
        grid-template: "header" 10% "section" auto "footer" 10%;
    }
}

@media (min-width: 900px) {
    .grid-container-login {
        grid-template: "header" 10% "section" auto "footer" 10%;
    }
}


/* Grid Para Sesión de Usuario */

body {
    min-height: 100%;
}

.grid-container-sesion>* {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.grid-container-sesion {
    display: grid;
    gap: 10px;
    grid-template-areas: "logo" "header" "user" "navbar " "main " "footer";
}

.grid-container-sesion-logo {
    grid-area: logo;
}

.grid-container-sesion-user {
    grid-area: user;
}

.grid-container-sesion-header {
    grid-area: header;
}

.grid-container-sesion-navbar {
    grid-area: navbar;
}

.grid-container-sesion-main {
    grid-area: main;
    background-color: lightseagreen;
}

.grid-container-sesion-footer {
    grid-area: footer;
    background-color: lightslategray;
}

@media (min-width: 600px) {
    .grid-container-sesion {
        grid-template: "logo header user " auto "navbar main main" auto "footer footer footer" 10% / auto auto 10%;
    }
}

@media (min-width: 900px) {
    .grid-container-sesion {
        grid-template: "logo header user " auto "navbar main main" auto "footer footer footer" 10% / 15% auto 15%;
    }
}


/* Card Perfil de usuario */

.example-header-image {
    background-image: url('../assets/img/user2.png');
    background-size: cover;
}

.mat-card-sesion {
    max-height: fit-content;
}

.mat-card-sesion-title {
    font-size: 15px;
}

.grid-container-sesion-header>* {
    font-size: xx-large;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}