<div id="htmlData" class="card fade-in-logo" style="margin-top: 1rem; opacity: .8;">
    <div class="row col-xs-12 col-sm-12 col-md-12" style="margin-top: 1rem; margin-left: 5px;">
        <form [formGroup]="numeroCarpeta" novalidate (ngSubmit)="onSubmit()" #f="ngForm">
            <mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <mat-select [(value)]="selectedTipo" id="tipo" formControlName="tipo" ngModel required>
                    <mat-option value="FED">FED</mat-option>
                </mat-select>
            </mat-form-field>
            /
            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select [(value)]="selectedEDO" id="edo" formControlName="edo" ngModel required>
                    <mat-option [value]="estado.cve" *ngFor="let estado of estados">{{estado.cve}} | {{estado.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            /
            <mat-form-field appearance="fill">
                <mat-label>Unidad</mat-label>
                <mat-select [(value)]="selectedUnidad" id="unidad" formControlName="unidad" ngModel required>
                    <mat-option [value]="unidad.unidad" *ngFor="let unidad of unidades">{{unidad.estado}} | {{unidad.unidad}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            /
            <mat-form-field appearance="fill">
                <mat-label>Ingrese los 7 Digitos de la Carpeta</mat-label>
                <input matInput [(ngModel)]="numCar" type="text" placeholder="XXXXXXX" formControlName="numCar" ngModel required minlength="7" maxlength="7">
            </mat-form-field>
            /
            <mat-form-field appearance="fill">
                <mat-label>Ingrese el Año</mat-label>
                <mat-select [(value)]="anio" id="tipo" formControlName="anio" ngModel required>
                    <mat-option value="2022">2022</mat-option>
                    <mat-option value="2021">2021</mat-option>
                    <mat-option value="2020">2020</mat-option>
                    <mat-option value="2019">2019</mat-option>
                    <mat-option value="2018">2018</mat-option>
                    <mat-option value="2017">2017</mat-option>
                    <mat-option value="2016">2016</mat-option>
                </mat-select>
            </mat-form-field>

            <button class="btn btn-primary" type="submit" [disabled]="!numeroCarpeta.valid" style="margin-left: 5rem;">Buscar Plan</button>
            <button [hidden]="!numeroCarpeta.valid" class="btn btn-success" type="submit" style="margin-left: 3rem;" (click)="generatePDF()">Generar PDF</button>
            <strong>
                <h2>Número de carpeta a buscar: {{selectedTipo}} / {{selectedEDO}} / {{selectedUnidad}} / {{numCar}} /
                    {{anio}}
                </h2>
            </strong>
        </form>
        <div id="" class="row" style="margin-top: 5px; margin-left: 5px;">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <strong><label for="NumCar" name="NumCar" id="NumCar">Número de Carpeta:</label></strong>
                <h3>{{NumCar}}</h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <strong><label for="">Célula:</label></strong>
                <h3>{{Equipo}}</h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <strong><label for="">Fecha Inicio:</label></strong>
                <h3>{{FechaCI}}</h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <strong><label for="">Hora Inicio:</label></strong>
                <h3>{{HoraFechaCI}}</h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <strong><label for="">Unidad:</label></strong>
                <h3>{{Fiscalia}}</h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <strong><label for="">AMPF Responsable:</label></strong>
                <h3>{{AMPF}}</h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <strong><label for="">Jefe EIL:</label></strong>
                <h3>{{jefeEIL}}</h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <strong><label for="">Jefe UIL:</label></strong>
                <h3>{{jefeUIL}}</h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <strong><label for="">Titular de Unidad:</label></strong>
                <h3>{{titularUnidad}}</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <!-- DIligencias -->

                <p-table #dtCarpetas dataKey="idRow" [value]="resDil" [rows]="rows" [columns]="cols" [showCurrentPageReport]="true" [(first)]="first" [showCurrentPageReport]="true" responsiveLayout="scroll" [(selection)]="selectedDiligencias" [totalRecords]="totalRecords"
                    [loading]="loading">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Diligencia
                                    <p-columnFilter type="text" id="Diligencia_id" name="Diligencia_id" field="Diligencia_id" display="menu">
                                    </p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Objetivo
                                    <p-columnFilter type="text" field="objetivo_plan_dsc" display="menu">
                                    </p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Inicial
                                    <p-columnFilter type="text" field="tiempo_ini" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Hora de Cumplimiento
                                    <p-columnFilter type="text" field="tiempo_res" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Responsable de Diligencia
                                    <p-columnFilter type="text" field="" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Cumplimiento
                                    <p-columnFilter type="text" field="" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Obs
                                    <p-columnFilter type="text" field="" display="menu"></p-columnFilter>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-diligencia let-rowData>
                        <tr [pSelectableRow]="rowData">
                            <td>{{diligencia.Diligencia_id}}</td>
                            <td>{{diligencia.objetivo_plan_dsc}}</td>
                            <td>{{diligencia.tiempo_ini}}</td>
                            <td>{{diligencia.tiempo_res}}</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</div>