/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(../src/assets/img/edificio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}


/* Fade In Logo */

.fade-in-logo {
    animation: fadeInLogo 1s;
    -webkit-animation: fadeInLogo 1s;
    -moz-animation: fadeInLogo 1s;
    -o-animation: fadeInLogo 1s;
    -ms-animation: fadeInLogo 1s;
}


/* Frames Fade In Logo */

@keyframes fadeInLogo {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@-moz-keyframes fadeIn {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes fadeIn {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@-o-keyframes fadeIn {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@-ms-keyframes fadeIn {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}


/* Estilo COPLADII */

.container .box {
    width: 450px;
    height: 400px;
    position: fixed;
    left: 10%;
    top: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .box .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
}

.container .box .title .block {
    width: 0%;
    height: inherit;
    background: #c42847;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}

.container .box .title h1 {
    font-family: 'Poppins';
    font-weight: 600;
    color: rgb(179, 40, 45);
    font-size: 70px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}

.container .box .title h1 span {
    width: 0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #c42847;
    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -12px;
}

.container .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    margin-top: -10px;
}

.container .box .role .block {
    width: 0%;
    height: inherit;
    background: #1098F7;
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}

.container .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 5;
    font-weight: 800;
    font-family: 'Montserrat';
    color: #1098F7;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


/* Frames para Estilo COPLADII */

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #e9d856;
        border: 0px solid #ddd;
        opacity: 0;
    }
    50% {
        width: 10px;
        height: 10px;
        background: #e9d856;
        opacity: 1;
        bottom: 45px;
    }
    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
    }
    80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
    }
    100% {
        width: 7px;
        height: 7px;
        background: #e9d856;
        border: 0px solid #222;
        bottom: 13px;
    }
}